<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tabla de Datos</title>
</head>
<body>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Puntuacion</th>
				<th>Tiempo</th>
			</tr>
		</thead>
		<tbody>
			{% for Proyecto in proyectos %}
			<tr>
				<td>{{ Proyecto.id }}</td>
				<td>{{ Proyecto.nombre }}</td>
				<td>{{ Proyecto.puntaje }}</td>
				<td>{{ Proyecto.tiempo }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

     <link href= {% static "css/styles2.css" %} rel="stylesheet" />
</div>
</body>
</html>
